set default=0
set timeout=3

menuentry "AsBuiltReport Manager" {
    search --no-floppy --label --set=root rootfs
    linux   /boot/bzImage root=LABEL=rootfs rw console=tty1 console=ttyS0,115200 quiet
    initrd  /boot/rootfs.cpio.gz
}

menuentry "AsBuiltReport Manager (recovery)" {
    search --no-floppy --label --set=root rootfs
    linux   /boot/bzImage root=LABEL=rootfs rw console=tty1 console=ttyS0,115200 single
    initrd  /boot/rootfs.cpio.gz
}
